<!DOCTYPE html>
<html>
	<head>
		<title>Parashat {{ parasha.name }}</title>
	</head>
	<body>
		<h1>Find aliyot list</h1>
		<form action="" method="post">{% csrf_token %}
			{{ form }}
		<input type="submit" value="Submit date" />
		<p>Acceptable input formats:
			<ul>
				<li>2006-10-25</li>
				<li>10/25/2006</li>
				<li>10/25/06</li>
			</ul>
		</p>		
		<h2>Aliyot for {{ date }}</h2>
		<table border=1px>
			<thead>
				<tr>
					<th>Aliyah</th>
					<th>Verses</th>
					<th>Length</th>
				</tr>
			</thead>
			<tbody>
				{% for aliyah in aliyah_list %}
				<tr>
					<td>{{ aliyah.num }}</td>
					<td>{{ aliyah.begin }} - {{ aliyah.end }}</td>
					<td>{{ aliyah.numverses }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>