<!DOCTYPE html>
<html>
	<head>
		<title>Parashat {{ parasha.name }}</title>
	</head>
	<body>
		<h1>Parashat {{ parasha.name }}</h1>
		<ul> <form action="" method="post">{% csrf_token %}
			{{ aliyahform.as_ul }}
		<input type="submit" value="Submit Leyners" />
		</ul>


		<table border=1px>
			<thead>
				<tr>
					<th>Aliyah</th>
					<th>Leyner</th>
				</tr>
			</thead>
			<tbody>
				{% for aliyah in aliyah_list %}
				<tr>
					{% if aliyah.leyner %}
					<td><strong>{{ aliyah }}</strong></td>
					<td>{{ aliyah.leyner }}</td>
					{% else %}
					<td style="color:red"><strong>{{ aliyah }}</strong></td>
					<td style="color:red"><strong>{{ aliyah.leyner }}</strong></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>